<h2 class="text-center mt-5">Connectez-vous pour accéder au panneau d'administration</h2>
<div class="text-center">
  <%= link_to "Se connecter", new_user_session_path, class: "btn btn-success" %>
</div>