<div class="row">
  <div class="col-md-8 ml-auto mr-auto">
    <h2 class="subtitle">A propos de moi</h2>
  </div>
</div>
<div class="row bg-light rounded py-2 mt-3">
  <div class="col-md-12 ml-auto mr-auto">
    <div class="profile">
      <div class="avatar justify-item-center my-3">
        <img src="https://res.cloudinary.com/coffeebreak-pro/image/upload/c_scale,w_200/v1600978926/120091427_3602783133065919_276097279789977349_n_aoakao.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid mx-auto d-block">
      </div>
    </div>
  </div>
  <div class="col-md-12 ml-auto mr-auto text-center px-5">
      <h5 class="subtitle">Je m'appelle Raphael Guinhut</h5>
      <p>De formation supérieure, commerciale et technique, j'ai décidé de créer cette entreprise après une excellente expérience dans l'entreprise Illy Café.</p>
      <a href="/a-propos-de-moi" class="btn btn-lg btn-success text-center btn-brown" style="text-align: center; white-space:normal">En savoir plus sur mon parcours et mon entreprise</a>
  </div>
</div>