<footer class="footer footer-default">
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <a href="https://www.creative-tim.com/presentation">
              Mentions Légales
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        © <%= Date.today.year %>, créé par <a href="https://github.com/ZeddBox" target="_blank">ZedDv</a>.
      </div>
    </div>
  </footer>