<div class="section">
  <h2 class="subtitle text-center" id="actuality">Zones d'interventions</h2>
  <div class="row mt-5">
    <div class="col-md-4 mr-auto ml-auto">
      <div id="mapid" class="rounded">
        <%= image_tag 'https://res.cloudinary.com/coffeebreak-pro/image/upload/v1601027236/map-with-dep_hgskhj.png' %>
      </div>
    </div>
    <div class="col-md-1 py-3">
    </div>
    <div class="col-md-4 text-center ml-auto mr-auto border shadow-sm mb-4 bg-light rounded card-info coffee-bag-bg">
      <h5 class="mt-4">Je me déplace en </h5>
      <i class="fas fa-wine-glass-alt"></i><p>Gironde</p>
      <i class="fas fa-tree mt-2"></i><p>Charente</p>
      <i class="fas fa-water mt-2"></i><p>Charente-Martime</p>
      <i class="fab fa-fort-awesome"></i><p>Dordogne</p>
    </div>
  </div>
</div>

