<body class="profile-page sidebar-collapse">
  <div class="page-header header-filter background-image-about" data-parallax="true"></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar">
                <img src="https://res.cloudinary.com/coffeebreak-pro/image/upload/v1600978926/120091427_3602783133065919_276097279789977349_n_aoakao.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">
              </div>
              <div class="name">
                <h3 class="title">Raphael Guinhut</h3>
                <a href="#pablo" class="btn btn-just-icon btn-link"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="description text-center">
          <p>De formation commerciale, j'ai créé cette entreprise pour : dniafnaieoczienvioqevio</p>
        </div>
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile-tabs">
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <li class="nav-item">
                  <a class="nav-link" href="#studio" role="tab" data-toggle="tab" aria-selected="false">
                    <i class="material-icons">camera</i> Mes Expériences
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active show" href="#works" role="tab" data-toggle="tab" aria-selected="true">
                    <i class="material-icons">palette</i> Mes Formations
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#favorite" role="tab" data-toggle="tab" aria-selected="false">
                    <i class="material-icons">favorite</i> Pourquoi CoffeeBreak ?
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
       
        <div class="tab-content tab-space">
          <div class="tab-pane text-center gallery" id="studio">
            <div class="row">
              <div class="col-md-5 ml-auto mr-auto">
                <div class="card card-profile card-plain">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="card-header card-header-image">
                        <img class="img mx-auto my-auto d-block" src="https://res.cloudinary.com/coffeebreak-pro/image/upload/v1600904624/JustEat_qmpms1.png">
                    </div>
                    </div>
                    <div class="col-md-7">
                      <div class="card-body">
                        <h4 class="card-title">Just Eat</h4>
                        <h6 class="card-category text-muted">Territory Manager</h6>
                        <p class="card-description">
                          Oct. 2019 – Mai 2020
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-5 mr-auto ml-auto">
                <div class="card card-profile card-plain">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="card-header card-header-image">
                        <img class="img mx-auto my-auto d-block" src="https://res.cloudinary.com/coffeebreak-pro/image/upload/v1600904622/IllyCafe_b2t4lw.png">
                    </div>
                    </div>
                    <div class="col-md-7">
                      <div class="card-body">
                        <h4 class="card-title">Illy Café</h4>
                        <h6 class="card-category text-muted">Chef de Secteur CHR</h6>
                        <p class="card-description">
                          Févr. 2018 – Oct. 2019
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 ml-auto mr-auto">
                <div class="card card-profile card-plain">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="card-header card-header-image">
                        <img class="img mx-auto my-auto d-block" src="https://res.cloudinary.com/coffeebreak-pro/image/upload/v1600905860/Voxpro_fw02zk.jpg">
                    </div>
                    </div>
                    <div class="col-md-7">
                      <div class="card-body">
                        <h4 class="card-title">VoxPro</h4>
                        <h6 class="card-category text-muted">French Account Manager</h6>
                        <p class="card-description">
                          Janv. 2017 – Nov. 2017
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-5 mr-auto ml-auto">
                <div class="card card-profile card-plain">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="card-header card-header-image">
                        <img class="img mx-auto my-auto d-block" src="https://res.cloudinary.com/coffeebreak-pro/image/upload/v1600906022/MondelezI_ufeboe.jpg">
                    </div>
                    </div>
                    <div class="col-md-7">
                      <div class="card-body">
                        <h4 class="card-title">Mondelez International</h4>
                        <h6 class="card-category text-muted">Chef de Secteur GMS</h6>
                        <p class="card-description">
                          Oct. 2015 – Sept. 2016
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            </div>
          </div>
          <div class="tab-pane text-center gallery active show" id="works">
            <div class="row">
              <div class="col-md-3 ml-auto">
                <img src="../assets/img/examples/olu-eletu.jpg" class="rounded">
                <img src="../assets/img/examples/clem-onojeghuo.jpg" class="rounded">
                <img src="../assets/img/examples/cynthia-del-rio.jpg" class="rounded">
              </div>
              <div class="col-md-3 mr-auto">
                <img src="../assets/img/examples/mariya-georgieva.jpg" class="rounded">
                <img src="../assets/img/examples/clem-onojegaw.jpg" class="rounded">
              </div>
            </div>
          </div>
          <div class="tab-pane text-center gallery" id="favorite">
            <div class="row">
              <div class="col-md-3 ml-auto">
                <img src="../assets/img/examples/mariya-georgieva.jpg" class="rounded">
                <img src="../assets/img/examples/studio-3.jpg" class="rounded">
              </div>
              <div class="col-md-3 mr-auto">
                <img src="../assets/img/examples/clem-onojeghuo.jpg" class="rounded">
                <img src="../assets/img/examples/olu-eletu.jpg" class="rounded">
                <img src="../assets/img/examples/studio-1.jpg" class="rounded">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'footer' %>

<script src="../assets/js/material-kit.min.js?v=2.0.7" type="text/javascript"></script>
<style>

  #count-down {
    display: initial;
    padding-left: 10px;
    font-weight: bold;
  }
  #close-bar {
    font-size: 22px;
    color: #3e3947;
    margin-right: 0;
    position: absolute;
    right: 5%;
    background: white;
    opacity: 0.5;
    padding: 0px;
    height: 25px;
    line-height: 21px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    top: 18px;
    cursor: pointer;
    z-index: 9999999999;
    font-weight: 200;
  }
  #close-bar:hover{
    opacity: 1;
  }
  #btn-bar {
    background-color: #fff;
    color: #40312d;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    opacity: .95;
    margin-left: 15px;
    top: 0px;
    position: relative;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 5px 10px -3px rgba(0,0,0,.23), 0 6px 10px -5px rgba(0,0,0,.25);
  }
  #btn-bar:hover{
    opacity: 0.9;
  }
  #btn-bar{
    opacity: 1;
  }

  #btn-bar span {
    color: red;
  }
  .right-side{
    float: right;
    margin-right: 60px;
    top: -6px;
    position: relative;
    display: block;
  }

  #oldPriceBar {
    text-decoration: line-through;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    top: 2px;
    position: relative;
  }
  #newPrice{
    color: #fff;
    font-size: 19px;
    font-weight: 700;
    top: 2px;
    position: relative;
    margin-left: 7px;
  }

  #fromText {
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    margin-right: 3px;
    top: 0px;
    position: relative;
  }

  @media(max-width: 991px){
    .right-side{
      float:none;
      margin-right: 0px;
      margin-top: 5px;
      top: 0px
    }
    #ofBar {
      padding: 50px 20px 20px;
      text-align: center;
    }
    #btn-bar{
      display: block;
      margin-top: 10px;
      margin-left: 0;
    }
  }
  @media (max-width: 768px) {
    #count-down {
      display: block;
      font-size: 25px;
    }
  }
</style>
</body>