<body class="profile-page sidebar-collapse">
  <div class="page-header header-filter background-image-about" data-parallax="true"></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar">
                <img src="https://res.cloudinary.com/coffeebreak-pro/image/upload/v1600978926/120091427_3602783133065919_276097279789977349_n_aoakao.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">
              </div>
              <div class="name">
                <h3 class="title">Raphael Guinhut</h3>
                <a href="https://www.linkedin.com/in/raphael-guinhut/" class="btn btn-just-icon btn-link hvr-push"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="description text-center block text-dark">
          <p>De formation supérieure, commerciale et technique, je me suis principalement orienté vers des postes de technico-commercial. J'ai ainsi été amené à évoluer au sein d'un environnement professionnelle, puis naturellement vers le CHR. </br>
          <br/>
          J'ai tout de suite été séduit par la nature de cette relation saine et constructive. C'est grâce à mon expérience dans la maison Illy café, que j'ai découvert les subtilités de réalisation et l'importance de la qualité d'un café en restauration. Je propose donc de mettre mes compétences au service de votre machine traditionnelle et de votre café.</p>
        </div>

      <div id="accordion">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile-tabs">
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <li class="nav-item" id="headingOne">
                  <a class="nav-link active" href="#collapseOne" role="tab" data-toggle="tab" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class="material-icons">work</i> Mes Expériences
                  </a>
                </li>
                <li class="nav-item" id="headingTwo">
                  <a class="nav-link collapsed" href="#collapseTwo" role="tab" data-toggle="tab" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <i class="material-icons">article</i> Mes Formations
                  </a>
                </li>
                <li class="nav-item" id="headingThree">
                  <a class="nav-link collapsed" href="#collapseThree" role="tab" data-toggle="tab" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <i class="material-icons">store</i> Pourquoi CoffeeBreak ?
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
       
        <div class="tab-content tab-space">
          <div class="tab-pane active text-center collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="row">
              <div class="col-md-5 ml-auto mr-auto">
                <div class="card card-profile card-plain">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="card-header card-header-image">
                        <img class="img mx-auto my-auto d-block" src="https://res.cloudinary.com/coffeebreak-pro/image/upload/v1600904624/JustEat_qmpms1.png">
                    </div>
                    </div>
                    <div class="col-md-7">
                      <div class="card-body">
                        <h4 class="card-title">Just Eat</h4>
                        <h6 class="card-category text-muted">Territory Manager</h6>
                        <p class="card-description">
                          Oct. 2019 – Mai 2020
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-5 mr-auto ml-auto">
                <div class="card card-profile card-plain">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="card-header card-header-image">
                        <img class="img mx-auto my-auto d-block" src="https://res.cloudinary.com/coffeebreak-pro/image/upload/v1600904622/IllyCafe_b2t4lw.png">
                    </div>
                    </div>
                    <div class="col-md-7">
                      <div class="card-body">
                        <h4 class="card-title">Illy Café</h4>
                        <h6 class="card-category text-muted">Chef de Secteur CHR</h6>
                        <p class="card-description">
                          Févr. 2018 – Oct. 2019
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 ml-auto mr-auto">
                <div class="card card-profile card-plain">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="card-header card-header-image">
                        <img class="img mx-auto my-auto d-block" src="https://res.cloudinary.com/coffeebreak-pro/image/upload/v1600905860/Voxpro_fw02zk.jpg">
                    </div>
                    </div>
                    <div class="col-md-7">
                      <div class="card-body">
                        <h4 class="card-title">VoxPro</h4>
                        <h6 class="card-category text-muted">French Account Manager</h6>
                        <p class="card-description">
                          Janv. 2017 – Nov. 2017
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-5 mr-auto ml-auto">
                <div class="card card-profile card-plain">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="card-header card-header-image">
                        <img class="img mx-auto my-auto d-block" src="https://res.cloudinary.com/coffeebreak-pro/image/upload/c_scale,w_250/v1600906022/MondelezI_ufeboe.jpg">
                    </div>
                    </div>
                    <div class="col-md-7">
                      <div class="card-body">
                        <h4 class="card-title">Mondelez International</h4>
                        <h6 class="card-category text-muted">Chef de Secteur GMS</h6>
                        <p class="card-description">
                          Oct. 2015 – Sept. 2016
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 ml-auto mr-auto">
                <div class="card card-profile card-plain">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="card-header card-header-image">
                        <img class="img mx-auto my-auto d-block" src="https://res.cloudinary.com/coffeebreak-pro/image/upload/c_fill,h_339,w_339/v1601908863/lyceepapeclement_iqivou.jpg">
                    </div>
                    </div>
                    <div class="col-md-7">
                      <div class="card-body">
                        <h4 class="card-title">Lycée Pape Clement</h4>
                        <h6 class="card-category text-muted">Agent Technico-Commercial</h6>
                        <p class="card-description">
                          2011 - 2013
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane text-center collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="row">
              <div class="col-md-5 ml-auto mr-auto">
                <div class="card card-profile card-plain">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="card-header card-header-image">
                        <img class="img mx-auto my-auto d-block" src="https://res.cloudinary.com/coffeebreak-pro/image/upload/v1601472075/idrac_otykrg.png">
                    </div>
                    </div>
                    <div class="col-md-7">
                      <div class="card-body">
                        <h4 class="card-title">IDRAC Business School</h4>
                        <h6 class="card-category text-muted">Master 2 (M2) - Marketing et Négociation</h6>
                        <p class="card-description">
                          2015 - 2016
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-5 mr-auto ml-auto">
                <div class="card card-profile card-plain">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="card-header card-header-image">
                        <img class="img mx-auto my-auto d-block" src="https://res.cloudinary.com/coffeebreak-pro/image/upload/v1601472075/idrac_otykrg.png">
                    </div>
                    </div>
                    <div class="col-md-7">
                      <div class="card-body">
                        <h4 class="card-title">IDRAC Business School</h4>
                        <h6 class="card-category text-muted">Master 1 - Marketing et Négociation</h6>
                        <p class="card-description">
                          2014 - 2015
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 ml-auto mr-auto">
                <div class="card card-profile card-plain">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="card-header card-header-image">
                        <img class="img mx-auto my-auto d-block" src="https://res.cloudinary.com/coffeebreak-pro/image/upload/v1601472076/ifag_rsgjfd.jpg">
                    </div>
                    </div>
                    <div class="col-md-7">
                      <div class="card-body">
                        <h4 class="card-title">IFAG </h4>
                        <h6 class="card-category text-muted">Bachelor Management et Entreprenariat - Management de projet</h6>
                        <p class="card-description">
                          2013 – 2014
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane text-center collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="row">
              <div class="description text-dark col-md-10 ml-auto mr-auto">
                <p>Durant mon expérience chez Illy Café, j'ai été amené à faire beaucoup d'interventions techniques lors de mes déplacements en clientèle. Je me suis donc aperçu que beaucoup de restaurateurs ne savent pas comment et pourquoi leur café change et se dérègle. </br>
                <br/>
                Le café est un produit primordial pour un restaurateur, il est le dernier goût de son client avant qu'il ne quitte l'établissement et il se doit d'être parfait.
                <br/>
                <br/>
                Mon idée est donc de transmettre mes connaissances et de les mettre à disposition des professionnels de la restauration mais aussi des distributeurs de boissons qui fournissent souvent les machines traditionnelles.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <%= render 'footer' %>

</body>