<div class="main main-raised">
  <div class="container">
    <div class="section text-center" style="margin-top: 170px">
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto" id="services">
          <h2 class="subtitle">Mentions Légales</h2>
          <hr>
          <div class="row">
            <div class="col-sm">
              <h5 style="text-align: left;">IDENTIFICATION</h5>
              <p style="text-align: left;">—<br>
                <span style="font-size: 10pt;"><strong>Adresse du siège :</strong> 58 rue Marcelin Berthelot, 33270 Floirac</span><br>
                <span style="font-size: 10pt;"><strong>Nationalité :</strong> Française</span><br>
                <span style="font-size: 10pt;"><strong>Courriel :</strong> raphael.coffeebreak@gmail.com</span><br>
                <span style="font-size: 10pt;"><strong>Numéro de téléphone :</strong> 06 58 01 53 11</span><br>
                <span style="font-size: 10pt;"><strong>Activité (Code NAF ou APE)</strong>  Réparation de machines et équipements mécaniques (3312Z)</span></p>
              <h5 style="text-align: left;">CONCEPTION ET RÉALISATION</h5>
                <p style="text-align: justify;">—<br>
                <span style="font-size: 10pt;">Julien Anceau dont le siège social est situé 13, avenue de Techeney, 33370 Artigues-près-Bordeaux, courriel : jul33anc@gmail.com – n° Siret : 881920136 00010 - Site web : <a href="http://www.julienanceau.fr">http://www.julienanceau.fr</a></span></p>
              <h5 style="text-align: left;">HÉBERGEMENT DU SITE</h5>
                <p style="text-align: justify;">—<br>
                <span style="font-size: 10pt;">OVH France & Heroku APP</span></p>
            </div>
            <div class="col-sm">
              <h5 style="text-align: left;">TRAITEMENT DES DONNÉES</h5>
                <p style="text-align: justify;">—<br>
                <span style="font-size: 10pt;">Les informations qui concernent l’usager et qui sont collectées sur le site sont indispensables pour répondre à ses demandes (information, prise de rendez-vous, usage d’un forum etc) et ainsi mieux proposer l’ensemble des services du site. Conformément aux articles 39 et suivants de la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, toute personne peut obtenir communication et, le cas échéant, rectification ou suppression des informations la concernant, en s’adressant a l’éditeur de contenu (toutes les coordonnées figurants ci-dessus: adresse/courriel).Ces données ne seront en aucun cas communiquées à des tiers sans consentement préalable de l’usager et elles sont exclusivement destinées à l’éditeur du site, à ses filiales et aux membres de son réseau commercial, à des fins d’enquête, d’analyses, d’opérations commerciales et de marketing.Pour toute information supplémentaire sur la protection des données personnelles, nous vous invitons à consulter le site de la Commission Informatique et Liberté. (http://www.cnil.fr).</span></p>
            </div>
            <div class="col-sm">
              <h5 style="text-align: left;">PROPRIÉTÉ INTELLECTUELLE</h5>
                <p style="text-align: justify;">—<br>
                <span style="font-size: 10pt;">Les photographies, textes, slogans, dessins, images, séquences animées sonores ou non ainsi que toutes les oeuvres intégrés dans le site sont la propriété de l’éditeur du site ou de tiers ayant autorisé l’éditeur du site à les utiliser. Toute reproduction totale ou partielle de ces éléments sans l’autorisation expresse de l’exploitant du site Internet ou de ses ayant-droit est prohibée, au sens de l’article L713-2 du CPI.</span></p>
              <h5 style="text-align: left;">DÉCHARGE</h5>
                <p style="text-align: justify;">—<br>
                <span style="font-size: 10pt;">L’utilisateur utilise le site à ses seuls risques et dans le respect des lois applicables. En aucun cas l’éditeur du site ne pourra être tenu responsable des dommages directs ou indirects, et notamment préjudice matériel, perte de données ou de programme, préjudice financier, résultant de l’accès ou de l’utilisation de ce site ou de tous sites qui lui sont liés. Le contenu du site est présenté sans aucune garantie de quelque nature que ce soit.</span></p>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
