<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @name%>, j'ai bien reçu votre message !</h1>
    <p>
      Je vous contact au plus vite à votre adresse email : <%= @email %>.
    </p>
    <p>
      Si besoin de me recontacter n'hésitez pas à m'appeler au 06 XX
    </p>
  </body>
</html>