<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Confirmation d'envoi de votre message sur le site CoffeeBreak.pro</h1>

    <p>Nous avons bien reçu votre message, vous serez contacté très bientôt !</p>

    <p>Adresse mail : <b><%= @email %></b>.</p>
    <p>Nom : <b><%= @name %></b>.</p>
    <p>Message : <b><%= @message %></b>.</p>

    <hr>

    <p>Bonne journée, à bientôt !</p>
    <p>Raphaël de <a href="http://coffeebreak.pro/">http://coffeebreak.pro/</a>
  </body>
</html>