// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.background-image {

  background-image: url('coffee-machine1.jpg');
  width: 100%;
  position: fixed ;
  top: 0;
  right: 0;
  left: 0;
}
