#mapid { 
  display: block;
  margin: 0 auto;
  height: 350px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

#mapid img { 
  height: 350px; 
  width: 350px;
  display: block;
  margin: 0 auto;
  transition: transform .3s ease;
}

#mapid:hover img {
  transform: scale(1.5);
} 

#mapid:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}